<%= render "hero_section"%>

<div class="py-16 px-4">
    <div class="container mx-auto">
        <h2 class="text-2xl font-bold mb-8 text-center">Cosa vedere</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <%@points.each do |point| %>
                <div class="bg-white rounded-lg shadow-md overflow-hidden">
                    <%if point.cover_image.present?%>
                        <!--<img src="image1.jpg" alt="Listing 1" class="w-full h-48 object-cover">-->
                        <%= image_tag point.cover_image, alt: point.name, class: "w-full object-cover" %>
                    <%end%>
                    <div class="p-4">
                        <h3 class="text-xl font-semibold mb-2"><%=point.name%></h3>
                        <p class="text-gray-600"><%= point.description%></p>
                        <!--<span class="text-yellow-500 font-semibold">$120/night</span>-->
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>
